In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
csv_file = "../Resources/top-500-movies.csv"
money_df = pd.read_csv(csv_file)
money_df.head()

,rank,release_date,title,url,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year
0,1,4/23/19,Avengers: Endgame,/movie/Avengers-Endgame-(2019)#tab=summary,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0
1,2,5/20/11,Pirates of the Caribbean: On Stranger Tides,/movie/Pirates-of-the-Caribbean-On-Stranger-Ti...,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0
2,3,4/22/15,Avengers: Age of Ultron,/movie/Avengers-Age-of-Ultron#tab=summary,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0
3,4,12/16/15,Star Wars: Episode VII - The Force Awakens,/movie/Star-Wars-Ep-VII-The-Force-Awakens#tab=...,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0
4,5,4/25/18,Avengers: Infinity War,/movie/Avengers-Infinity-War#tab=summary,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0

In [13]:
csv_file = "../Resources/imdb_top_1000.csv"
info_df = pd.read_csv(csv_file)
info_df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
3,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
4,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BY2IzNG...,Watchmen,2009,A,162 min,"Action, Drama, Mystery",7.6,"In 1985 where former superheroes exist, the mu...",56.0,Zack Snyder,Jackie Earle Haley,Patrick Wilson,Carla Gugino,Malin Akerman,500799,"107,509,799"
996,https://m.media-amazon.com/images/M/MV5BMzZiOD...,Watership Down,1978,U,91 min,"Animation, Adventure, Drama",7.6,Hoping to escape destruction by human develope...,64.0,Martin Rosen,John Hubley,John Hurt,Richard Briers,Ralph Richardson,33656,NaN
997,https://m.media-amazon.com/images/M/MV5BMjE0OD...,When Harry Met Sally...,1989,UA,95 min,"Comedy, Drama, Romance",7.6,Harry and Sally have known each other for year...,76.0,Rob Reiner,Billy Crystal,Meg Ryan,Carrie Fisher,Bruno Kirby,195663,"92,823,600"
998,https://m.media-amazon.com/images/M/MV5BNDhjMz...,Y tu mamá también,2001,A,106 min,Drama,7.6,"In Mexico, two teenage boys and an attractive ...",88.0,Alfonso Cuarón,Maribel Verdú,Gael García Bernal,Daniel Giménez Cacho,Ana López Mercado,115827,"13,622,333"
999,https://m.media-amazon.com/images/M/MV5BMTU5MD...,Zombieland,2009,A,88 min,"Adventure, Comedy, Fantasy",7.6,A shy student trying to reach his family in Oh...,73.0,Ruben Fleischer,Jesse Eisenberg,Emma Stone,Woody Harrelson,Abigail Breslin,520041,"75,590,286"

### Create new data with select columns

In [4]:
new_money_df = money_df[['rank', 'title','genre', 'production_cost','worldwide_gross','theaters']].copy()
new_money_df.head()

,rank,title,genre,production_cost,worldwide_gross,theaters
0,1,Avengers: Endgame,Action,400000000,2797800564,4662.0
1,2,Pirates of the Caribbean: On Stranger Tides,Adventure,379000000,1045713802,4164.0
2,3,Avengers: Age of Ultron,Action,365000000,1395316979,4276.0
3,4,Star Wars: Episode VII - The Force Awakens,Adventure,306000000,2064615817,4134.0
4,5,Avengers: Infinity War,Action,300000000,2048359754,4474.0

In [12]:
new_info_df = info_df[['Series_Title', 'IMDB_Rating','Meta_score','Director','Star1','Star2','No_of_Votes']].copy()
new_info_df

,Series_Title,IMDB_Rating,Meta_score,Director,Star1,Star2,No_of_Votes
0,The Shawshank Redemption,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,2343110
1,The Godfather,9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,1620367
2,12 Angry Men,9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,689845
3,The Dark Knight,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,2303232
4,The Godfather: Part II,9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,1129952
...,...,...,...,...,...,...,...
995,Watchmen,7.6,56.0,Zack Snyder,Jackie Earle Haley,Patrick Wilson,500799
996,Watership Down,7.6,64.0,Martin Rosen,John Hubley,John Hurt,33656
997,When Harry Met Sally...,7.6,76.0,Rob Reiner,Billy Crystal,Meg Ryan,195663
998,Y tu mamá también,7.6,88.0,Alfonso Cuarón,Maribel Verdú,Gael García Bernal,115827
999,Zombieland,7.6,73.0,Ruben Fleischer,Jesse Eisenberg,Emma Stone,520041

In [6]:
new_info_df.rename(columns = {'Series_Title':'title','IMDB_Rating':'imdb_rating','Meta_score':'meta_score','Director':'director','Star1':"star1",'Star2':'star2','No_of_Votes':'no_of_votes'}, inplace = True)
new_info_df.head()

,title,imdb_rating,meta_score,director,star1,star2,no_of_votes
0,The Shawshank Redemption,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,2343110
1,The Godfather,9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,1620367
2,12 Angry Men,9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,689845
3,The Dark Knight,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,2303232
4,The Godfather: Part II,9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,1129952

### Connect to local database

In [9]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'movie_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

### Check for tables

In [10]:
engine.table_names()

/var/folders/3k/6xzjh8pd05z3pk2qlf50c_b80000gn/T/ipykernel_56923/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: FATAL:  database "movie_db" does not exist

(Background on this error at: https://sqlalche.me/e/14/e3q8)

### Use pandas to load csv converted DataFrame into database

In [ ]:
new_money_df.to_sql(name='movie_money', con=engine, if_exists='append', index=False)

In [ ]:
new_info_df.to_sql(name='movie_info', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from movie_money', con=engine).head()

In [ ]:
pd.read_sql_query('select * from movie_info', con=engine).head()